<div class="wrapper">


    <div class="container">

          <div class="row">
                        
                        <div class="customJumbo jumbotron col-md-12 ">
                            <h1 class="display-4">Burger Bar Sequelize!</h1>
                        </div>
                        
            </div>

    

        <div class="row">

            <div class="col-md-6 colBoxOne">

                <h2>Your food is ready!</h2>
                <br>

                <ul>
                    {{#each burger}} {{#unless devoured}} {{> burgers/burgers-block devoured=true}} {{/unless}} {{/each}}
                    
                </ul>

            </div>

            <div class="col-md-6 colBoxTwo">

                <h2>Burgers you've eaten:</h2>
                <br>

                <ul>
                    {{#each burger}} {{#if devoured}} {{> burgers/burgers-block devoured=false}} {{/if}} {{/each}}
                </ul>

            </div>

        </div>

        <div class="row">
            <div class="col-md-5 colBoxTwo">
            <h2 class="inputBox">Order a Burger Here: </h2>

       
            <form class="create-form inputBox">

                <div class="form-group">
                    <label for="bu">Burger Name:</label>
                    <input type="text" id="bu" name="name">
                </div>

                <div class="form-group">
                    <label for="eat">Confirm:   </label>
                    <input type="radio" name="eaten" value="0"> Would you like to add this burger to your order?
                    <br>
                    {{!-- <input type="radio" name="eaten" value="1" checked> Eaten!
                    <br> --}}
                    
                </div>

                <button type="submit">Add Burger!</button>
            </form>
            <br>

                </div>
            </div>
        </div>

    </div>
</div>